@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Exo 2", serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem; 
}
/* Varuiables */
:root{
    --main-color: #6da975;
    --secondary-color: #e4f6e7;
    --yellow-color: #ffa700;
    --yellow-alter: #ffeac2;
    --text-color: #081035;
    --bg-color: #fff;
    --text-neutral: #747893;
    --text-neutral-2: #ecedf4;
    --text-neutral-3: #f5f6f9;
}
/* Basic Styling */
a{
    text-decoration: none;
}
img{
    width: 100%;
}
section{
    padding: 3em 0 2 rem;
}
/*container*/
.container{
    max-width: 1070px;
    margin: auto;
    width: 100%;
}
/* Heaader */
header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 200;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 10px 12px;
    border-radius: 5rem;
    box-shadow: 0 6px 64px 0 hsla(221, 47%, 31%, 0.06);
}
.logo img{
    width: 120px;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.nav-link{
    font-size: 0.88rem;
    color: var(--text-color);
    font-weight: 500;
    transform: all 0,4s  cubic-bezier(0.75, 0.82, 0.165, 1);
}
.nav-link:hover{
    color: var(--text-neutral);
    transform: all 0,4s  cubic-bezier(0.75, 0.82, 0.165, 1);
}
.nav-right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.nav-right i{
    font-size: 18px;
    background: var(--text-neutral-3);
    color: var(--text-color);
    padding: 8px;
    border-radius: 50%;
}
.login-btn{
    padding: 8px 14px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.login-btn:hover{
    background: var(--text-color);
    color: var(--bg-color);
    transform: backgroung .4s ease-in-out;
}
/* Menu Icon */
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    padding: 10px;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div{
    display: block;
    background: var(--bg-color);
    width: 20px;
    height: 2px;
    transition: 0.3s;
}
.menu-icon:hover{
    background: var(--text-color);
    transform: scale(1.1);
}
.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2{
    opacity: 0;
}
.move .line1{
    transform: rotate(45deg) translate(-5px, -5px);
}